<div class="helpCenter">
	<div class="helpCenter-title">
		<ul class="list-inline list-unstyled">
			<li class="activeHelp order-li"><a href="javascript:void(0);">我的客户</a>
			</li>
		</ul>
	</div>
	<div class="helpContent">
		<!--卡类订单-->
		<div class="standMessage tabToggleOrder">
			<div class="messages">
				<div class="client-form">
					<form action="__APP__/Admin/UserCenter/customer" method="post">
						<label class="client-label fl"> 客户的姓名： </label> <input type="text"
							class="client-name fl" name="kehu_name" value="{$params.kehu_name}" /> <label
							class="client-label fl"> 电话号码： </label> <input type="text"
							class="client-name fl" name="mobile_phone" value="{$params.mobile_phone}"/> <label class="client-label fl">
							会员名： </label> <input type="text" class="client-name fl" name="vip_number" value="{$params.vip_number}"/>

						<button class="searchImg fl clientBtn">
							<img src="__ROOT__/Public/Admin/images/saleImgs/search01.png">
						</button>
					</form>
					<button class="add-client">
						<span class="add-span">+</span> 添加新客户
					</button>
					<div id="win" class="easyui-window" title="添加客户"
						style="width: 600px; height: 400px"
						data-options="iconCls:'icon-save',modal:true" closed="true">
						<form action="__APP__/Admin/UserCenter/add_customer" method="post">
							<table>
								<tr>
									<th style="padding: 10px 5px 10px 25px; width: 100px;">客户姓名：</th>
									<td style="width: 198px; padding: 10px 5px 10px 20px;"><input
										type="text" name="kehu_name"
										style="height: 30px; width: 198px;" /></td>
								</tr>
								<tr>
									<th style="padding: 10px 5px 10px 25px; width: 100px;">会员号：</th>
									<td style="width: 198px; padding: 10px 5px 10px 20px;"><input
										type="text" name="vip_number"
										style="height: 30px; width: 198px;" /></td>
								</tr>
								<tr>
									<th style="padding: 10px 5px 10px 25px; width: 100px;">手机号：</th>
									<td style="width: 198px; padding: 10px 5px 10px 20px;"><input
										type="text" name="mobile_phone"
										style="height: 30px; width: 198px;" /></td>
								</tr>
								<tr>
									<th style="padding: 10px 5px 10px 25px; width: 100px;">联系地址：</th>
									<td style="width: 198px; padding: 10px 5px 10px 20px;"><input
										type="text" name="address" style="height: 30px; width: 198px;" /></td>
								</tr>
								
								<tr>
									<th style="padding: 10px 5px 10px 25px; width: 100px;">备注：</th>
									<td style="width: 198px; padding: 10px 5px 10px 20px;"><textarea
											name="beizhu" rows="3" cols="30" /></textarea></td>
								</tr>
								<tr>
									<th></th>
									<td><input class="add-client" type="submit" value="确认添加"
										style="position: relative; top: 20px; left: -102px; width: 100px; padding: 0px;" /></td>
								</tr>

							</table>
						</form>


					</div>
				</div>
				<!--表格-->
				<div class="client-table">
					<table class="table table-bordered">
						<tr>
							<th>客户姓名</th>
							<th>会员号</th>
							<th>手机号</th>
							<th>联系地址</th>
							<th>成交单数</th>
							<th>备注</th>
						</tr>
						<volist name="data" id="datas">
						<tr>
							<td>{$datas.kehu_name}</td>
							<td>{$datas.vip_number}</td>
							<td>{$datas.mobile_phone}</td>
							<td>{$datas.address}</td>
							<td>{$datas.orders}</td>
							<td>{$datas.beizhu}</td>
						</tr>
						</volist>

					</table>
				</div>
				<!--表格-->
				<div class="all-select">
					<div class="all-check"></div>
					<div class="turnPage">
						<div class="page-right">
							<a href="javascript:void(0);" title="第一页"
								class="tc-15-page-first"></a> <a href="javascript:void(0);"
								title="上一页" class="tc-15-page-pre"></a>
							<div class="tc-15-page-select">
								<a href="javascript:void(0);" class="tc-15-page-num"> 5/20 </a>
							</div>
							<a href="javascript:void(0);" title="下一页" class="tc-15-page-next"></a>
							<a href="javascript:void(0);" title="最后一页"
								class="tc-15-page-last"></a>&nbsp;&nbsp;&nbsp;&nbsp; <span
								class="tc-15-page-text">跳转至第</span> <input type="text"
								class="page-input" value="12" /> <span>页</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--卡类订单-->
	</div>
</div>
<script>
	$(function() {
		$('.add-client').click(function() {
			$('#win').window('open');
		})
	});
</script>